### Build output ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Java ###
*.class
*.jar
!**/src/**/resources/**/*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

### Kotlin ###
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Cursor ###
.cursor/

### Mac OS ###
.DS_Store

### Logs ###
*.log

### Environment ###
.env
.env.*

### Zed ###
.zed/
.config/zed/
*.editorconfig
.deps/